.gabarit_404{
    background-image: url("images/ilepalmier.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40rem;
    flex-direction: column;
}

.texte_annonce404, .texte_explication404{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    color: yellow;
    background-color: rgba(165, 240, 255, 0.16)
}

#bouton_retour{
    background-color: yellow;
    color: rgb(0, 187, 255);
    border: none;
    border-radius: 6px;
    padding: 1rem;
    font-weight: bolder;
    font-size: larger;
}

.les_categories a{
    color: black;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(0, 143, 186, 0.518);
}