.populaire, .thumbnail, .lePost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.thumbnail{
    width: 100%;
}

.global{
    width: 100%;
    padding: 10vh 5vw;
}

.lePost{
     background-color: rgba(167, 252, 252, 0.76);
     padding: 2rem;
     border-radius: 4rem;
}

.informationSupp{
    text-align: center;
}

.temperatures{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}