.populaire, .thumbnail, .lePost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.thumbnail{
    width: 100%;
}

.global{
    width: 100%;
    padding: 10vh 5vw;
}

.lePost{
     background-color: rgba(167, 252, 252, 0.76);
     padding: 2rem;
     border-radius: 4rem;
}

.informationSupp{
    text-align: center;
}

.temperatures{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.destination__list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
}

.destination__list div{
    background-color: rgb(183, 233, 183);
    padding: 2rem;
    border-radius: 3rem;
}