/* 
Animation de la section hero 
Reference: https://css-tricks.com/almanac/properties/a/animation/
*/

/*.hero__animation {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.hero__animation--active {
    opacity: 1;
    visibility: visible;
}*/

.hero__animation{
    display: none;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    &--active{
        display: block;
        .hero__titre, .hero__description, .hero__courriel, .hero__adresse, .hero__auteur, .hero__icone{
            position: relative;
            transform: translateX(-1000px);
        }
    }
}

.hero__titre{
    animation: contenu ease-in-out 1s forwards;
}

.hero__description{
    animation: contenu ease-in-out 1s forwards;
    animation-delay: 0.2s;
}
.hero__courriel{
    animation: contenu ease-in-out 1s forwards;
    animation-delay: 0.4s;
}
.hero__adresse{
    animation: contenu ease-in-out 1s forwards;
    animation-delay: 0.6s;
}
.hero__auteur{
    animation: contenu ease-in-out 1s forwards;
    animation-delay: 0.8s;
}
.hero__icone{
    animation: contenu ease-in-out 1s forwards;
    animation-delay: 1s;
}

@keyframes contenu{
    0%{

    }

    100%{
        transform: translate(0, 0);
    }
}