.hero{
    position: relative;
    //background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;

    &__description{
        width: 35rem;
    }

    &__carrousel{
        position: absolute;
        min-height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        &__radio{
            
        }
    }

    &__contenu{
        z-index: 9;
    }

    &__btnInscription{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 2rem;
        width: 6rem;
        background-color: $couleur_inscription;
        margin-bottom: 1em;
        transition: background-color 1s;
    }

    &__btnInscription:hover{
        background-color: $couleur_inscription--fonce;
    }
}