.populaire{
    width: 100%;
    background-color:blanchedalmond;
}

.template-pays{
    width: 100%;
    padding: 5rem;
    
}

.template-pays h2{
    text-align: center;
}

.champs-perso{
    background-color: rgb(250, 210, 150);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.destination{
    background-color: lightgreen;
}