.global{
    padding-bottom: 0;
}


.populaire{
    width: 100%;
    background-color:blanchedalmond;
}

.template-pays{
    width: 100%;
    padding: 5rem;
    
}

.template-pays h2{
    text-align: center;
}

.champs-perso{
    background-color: rgb(250, 210, 150);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.vague-separe{
    width: 100%;
    height: fit-content;
}

.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: lightgreen;
    padding-bottom: 5rem;
}