.barreCompte p{
    margin: 0;
}

.barreCompte{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px $couleur_azure-bordure;
    background-color: white;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
    left: 16.66%;
    bottom: 40px;
    width: fit-content;

    &__Inscription p{
        color: white;
    }
}

.barreCompte_input{
    border: solid 1px $couleur_azure-bordure;
    outline: none;
    &::placeholder{
        color: rgba(0, 0, 0, 0.3);
        font-style: italic;
    }
}