/* bouton-categorie.scss -------------- .categorie__ul */
/* pour les articles des catégories "les boutons verts" ici pour modifier leur apparence*/
.categorie__ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
    justify-content: center;
    &__li{
        &:hover{
            border: 1px solid orange;
            background-color: orangered;
            color: white;
            transition: all 0.5s;
        }
        padding: 3px;
        border: 1px solid orangered;
        background-color: orange;
        color: black;
        border-radius: 3px;
    }
}