.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--grande{
        flex: 1 1 250px;
        margin: 3rem;
    }
    &__image{
        img{
            width: 100%;
        }
    }
    &__contenu{
        &:hover{
            background-color: aquamarine;
            border: 3px solid orange;
            border-radius: 1rem;
            transition: border .5s, background-color .5s, border-radius .5s;
        }
        background-color: aliceblue;
        padding: 1rem
    }
    /*
    &__titre{
        
    }
    &__description{}
    &__bouton{
        &--actif{}
    }*/
}
